.passster_page_passster-statistics {
  #wpcontent {
    padding-left: 0;
  }
}

.plugin-settings-container {
  .header {
    padding: 20px 20px;
    border-bottom: solid 1px #ddd;
    background: white;

    .plugin-logo {
      width: 150px;
    }
  }

  .content {
    padding: 20px;
  }
}

